###  1. Printing Hellow World

#### Printing Hellow World in Python

##### Printing Hellow World in Python

###### Hellow Hansung

# TATA

In [6]:
print("Hii Amber Agey")

Hii Amber Agey

In [7]:
print("Hansung")

Hansung

###  2. Datatypes :-

In [8]:
x=10
x, type(x)

(10, int)

In [1]:
y=12.3
y, type(y)

(12.3, float)

In [2]:
e = 12.334534
e, type(e)

(12.334534, float)

In [10]:
z="TATA"
print('z')
print(type(z))

z
<class 'str'>

In [16]:
w='A'
w, type(w)

('A', str)

In [12]:
t=True
type(t), t

(bool, True)

In [13]:
q=False
type(q), q

(bool, False)

###  3. Rules for naming variables :-

#### Variable can include only under_score['_']
#### Space is not allowed
#### Only special character is underscore (_)
#### variable cannot start with a number.
#### variable name can start or have = A-Z, a-z, '_'

In [18]:
book_name = ["Python", "ai"]
book_name

['Python', 'ai']

In [20]:
book name = ["Python", "ai"]
book name

SyntaxError: invalid syntax (3176531032.py, line 1)

In [21]:
3book_name = ["Python", "ai"]
3book_name

SyntaxError: invalid decimal literal (1956487345.py, line 1)

In [19]:
bookname = ["Python", "ai"]
bookname

['Python', 'ai']

### NOTE :- Try/Practice to find New/Intertesting things in Python

### 4. Data Structure :-

### List :-
#### They have Square Braces [ ]
#### we can retrivel elements form list and it always starts from zero.
#### Mutable list-> we can make the changes in list.

In [23]:
sample_list = [10, 2, 3, 4.6, 5, "hii"]
sample_list

[10, 2, 3, 4.6, 5, 'hii']

In [30]:
sample_list[10]

IndexError: list index out of range

In [24]:
type(sample_list)

list

In [27]:
sample_list[4]

5

In [29]:
sample_list[1] = 100
sample_list

[10, 100, 3, 4.6, 5, 'hii']

### Tuple :-
#### Having Curved Braces (Paranthesis)  is called as Tuple.
#### We can retrive elements using index and index starts from 0.
#### Immutable -> We cannot make changes in it.

In [31]:
sample_tuple = (10, 2, 3, 4.5, "hi")
sample_tuple

(10, 2, 3, 4.5, 'hi')

In [32]:
type(sample_tuple)

tuple

In [35]:
sample_tuple[1] = 20

TypeError: 'tuple' object does not support item assignment

In [36]:
sample_tuple[10]

IndexError: tuple index out of range

### Set:-
##### {}
##### Duplicates are not allowed.
##### arranged according to first place order.
##### cannnot access using index.
##### Set is Mutable using (.add) & (.remove)

In [37]:
sample_set  = {1, 2, 3, 4.5, 2, 33, 3.56, "hellow"}
sample_set

{1, 2, 3, 3.56, 33, 4.5, 'hellow'}

In [38]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [39]:
sample_set.add(100)

In [40]:
sample_set

{1, 100, 2, 3, 3.56, 33, 4.5, 'hellow'}

In [44]:
sample_set.remove("hellow")

In [45]:
sample_set

{1, 2, 3, 3.56, 4.5, 33, 100}

## DAY - 2, 13-4-2023, Thursday

### Dictionary :-

##### has key-value pair data structure
##### Key is unique 
##### Values can be duplicate / Repeated.
##### Values can be retrieved using key
##### Key cannot be retrived using value

In [6]:
sample_dict = {1:"apple", 2:34.4, 3:"jii", 4:45}
sample_dict

{1: 'apple', 2: 34.4, 3: 45}

In [7]:
sample_dict[2]

34.4

In [8]:
sample_dict[3] = "TATA"

In [9]:
sample_dict[3]

'TATA'

In [1]:
print('Amber')

Amber

In [2]:
print("END...")

END...